.upload-form__file-input {
  font-size: 5.5em;
  margin-left: 2%;
}

.upload-form__file-input-label-text {
  font-size: 1.5em;
  margin: 0 10%;
  vertical-align: 100%;
}

.custom-file {
  height: 6em;
}

.custom-file-input {
  height: 100%;
}

.custom-file-label {
  height: 100%;
  border-radius: 0.5rem;
  color: white;
  background-color: #515175;
}

.custom-file-label::after {
  height: 100%;
  color: white;
  background-color: #515175;
  padding-top: 2.7em;
}

.upload-form__journal-title {
  margin-top: 3em;
}

.upload-form__file-input-title {
  margin-bottom: 2em;
}

.upload-form__file-input-error-text {
  color: #f5365c;
  margin-top: 0.5em;
}
