.imgs-container {
  position: relative;
  text-align: center;
}

.img-container {
  position: relative;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.dot-hover {
  background-color: #5e72e4;
}

.dot-select {
  background-color: #fc7c5f;
}

.dot-null {
  display: none;
}

.top.dot-Fpz {
  top: 3%;
  left: 47%;
}

.top.dot-Cz {
  top: 46%;
  left: 47%;
}

.top.dot-Pz {
  top: 76%;
  left: 46%;
}

.top.dot-Oz {
  top: 89%;
  left: 46%;
}

.top.dot-A2 {
  top: 48%;
  left: 90%;
}

.side.dot-Fpz {
  top: 38%;
  left: 70%;
}

.side.dot-Cz {
  top: 17%;
  left: 43%;
}

.side.dot-Pz {
  top: 28%;
  left: 27%;
}

.side.dot-Oz {
  top: 51%;
  left: 23%;
}

.side.dot-A2 {
  top: 58%;
  left: 49%;
}
