.evolving_chart__tooltip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #0d0d0d;
  background: rgba(235, 235, 235, 0.9);
  width: 10em;
  height: 10em;
  position: absolute;
  z-index: 100;
}
