/* body {
  display: inline-block;
  margin: 20px 0px ;
  font-family: Arial, sans-serif;
  background-color: #181C28;
}
*/

svg {
  display: inline-block;
  /* background-color: #181C28; */
}

.axis {
  color: black;
}

.axis text {
  font-weight: 540;
  font-size: 12pt;
}

.vis2 {
  border-right: 1px solid #000000;
}

.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.y.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: black;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
}

.label-sleepType {
  opacity: 0;
  fill: black;
  font-size: '25px';
  font-weight: 600;
  text-anchor: start;
  alignment-baseline: 'middle';
}

.pourcentage {
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 20px;
  fill: black;
}

/***** Tooltip *****/
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #0d0d0d;
  background: rgba(235, 235, 235, 0.9);
  /* Color Theme Swatches in Hex */
}
