.visualization__axis {
  color: black;
}

.visualization__axis text {
  font-weight: 540;
  font-size: 12pt;
}

.visualization__axis line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.y.visualization__axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
