{% extends 'base.html' %}

{% block head %}
Upload CSV
{% endblock %}

{% block body %}

<div class = "container">
    <div class = "row">
        <div class = "col">

            <h1>Upload CSV</h1>
            <hr>

            <form action ="/upload-csv" method = "POST" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label>Select CSV</label>
                    <div class = "custom-file">
                        <input type="file" class="custom-file-input" name="csv" id="csv">
                        <label class="custom-file-label" for="csv">Select CSV file...</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Upload CSV file</button>
            
            </form>

        </div>
    </div>
</div>

{% endblock %}